td.numbered {
    width: 32.5px;
}
/*
.btn-custom {
    font-size:10vw;
}

@media (min-width: 576px) { 
    tr {
        font-size:5vw;
    }
    .btn-custom {
        font-size:1vw;
    }
}

@media (min-width: 768px) { 
    
    tr {
        font-size:5vw;
    }
    .btn-custom {
        font-size:10vw;
    }
}

@media (min-width: 992px) { 
    tr {
        font-size:40px;
    }
    
}


@media (min-width: 1200px) { }


@media (min-width: 1400px) { }
*/